<!doctype html>
<html lang="en" ng-app="whisper">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="description" content="Send encrypted, self-destructing messages.">
  <meta name="keywords" content="private message, encrypted message, self-destructing">
  <title>deadletter</title>
  <script src="/lib/jquery-1.10.1.min.js"></script>
  <link rel="stylesheet" href="/lib/pure-min.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/baby-blue.css">
  <link rel="stylesheet" href="/css/app.css">
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/aes.js"></script>
  <script src="/lib/sha3.js"></script>
  <script src="/lib/openpgp.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/lib/webfont.js"></script>
  <script src="/lib/date.js"></script>
  <script>
    WebFont.load({
      custom: {
        families: [ 'Source+Sans+Pro:300,400,600:latin' ],
        urls: [ '/css/fonts.css' ]
      }
    });
  </script>
</head>
<body>
  <div id="cover" class="l-center l-top-padding-large">
    <img src="/images/loader.gif"><br />
    Loading deadletter...
  </div>
  <div id="container">
    <div class="pure-g-r" id="layout">
      <div class="pure-u-1" id="main">
        <div class="header">
          <h1>deadletter</h1>
          <img id="header-logo" src="/images/logo.png" />
          <h2>Secure, private messaging</h2>
          <div id="header-nav" class="pure-menu pure-menu-open pure-menu-horizontal" ng-controller="NavCtrl">
            <ul>
              <li ng-class="{'pure-menu-selected': selectedTab == 'about'}"><a ng-click="changeView('about')">About</a></li>
              <li ng-class="{'pure-menu-selected': selectedTab == ''}"><a ng-click="changeView('')">Quick Note</a></li>
              <li ng-class="{'pure-menu-selected': selectedTab == 'drop'}"><a ng-click="changeView('drop')">Dead Drop</a></li>
            </ul>
          </div>
        </div>
        <div class="content" ng-show="!isViewLoading" ng-view></div>
        <div class="content l-center l-top-margin-medium" ng-show="isViewLoading">
          <img src="/images/loader.gif"><br />
          Loading page...
        </div>
      </div>
      <div id="footer">
        Please help keep this site free! BTC donation address: 147Upf42zfnSeCLEcAbTnmm1sMxFqtYqK4
      </div>
    </div>
  </body>
</html>

