<h2 class="content-subhead">About</h2>

<p>
deadletter is a free, web based service that allows you to send top secret notes over the internet.
</p>

<p>
It's secure, fast, easy, and requires no password or user registration at all. Just write your note, and you'll get a link. Then you copy and paste that link into an email (or instant message) that you send to the person who you want to read the note. When that person clicks the link for the first time, they will see the note in their browser and the note will automatically self-destruct; which means no one (even that very same person) can read the note again. The link won't work anymore.
</p>

<p>
deadletter values privacy above all else. The unencrypted contents of the notes are never seen or stored by the server, and as such it is impossible for us to recover any data submit to the server. No tracking of any sort is used, and no third-party content is served. IP addresses are never stored. You can access deadletter via tor (<a href="http://dead6nxjwxfejydb.onion" target="_blank">http://dead6nxjwxfejydb.onion</a>) or with ssl over the clearnet (<a href="https://deadletter.io" target="_blank">https://deadletter.io</a>). No logs of any type are kept.  </p>

<p>
You can contact deadletter by sending email to <a href="mailto:contact@deadletter.io" target="_blank">contact@deadletter.io</a>.
</p>

